# Eclipse
.project
.classpath
.settings/
!.settings/org.eclipse.jdt.core.prefs
!.settings/org.eclipse.jdt.ui.prefs
.springBeans
.metadata
.externalToolBuilders
test-output

# Idea
*.iml
**/.idea/*
!.idea/codeStyleSettings.xml

# terraform
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.lock.info
**/*.dev.auto.tfvars

terraform/*.zip